.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position:fixed;
  top: 0;
  background-color: white;
  height: 100px;
  width: 100%;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 20%), 0px 3px 5px 1px rgb(0 0 0 / 10%);
  background-color: rgb(100, 100, 100);
}

.App-Result {
	display: flex;
	flex-direction: column;	
	margin-top: 100px;
	background-color: rgb(161, 161, 161);
}